.App {
  height: 100vh;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  * {
    box-sizing: border-box;
  }
}

header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: .5rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 12px -6px;
  > a {
    margin-left: 10%;
  }
  img {
    max-height: 5rem;
    border-radius: 100%;

    box-shadow: 0 0 12px -6px;
    &:hover {
      box-shadow: 0 0 12px 0;
      cursor: pointer;
    }
  }
  > div {
    :nth-child(n) {
      margin-right: 2rem;
    }
  }
}

footer {
  position: fixed;
  justify-content: center;
  bottom: 0;
  display: flex;
  width: 100vw;
  height: 3rem;
  @media screen and (min-width: 720px){
    width: 10rem;
    top: 2.5rem;
    bottom: 0;
    right: 0;
  }
}

main {
  display: grid;
  margin: 0 10%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  @media screen and (min-width: 720px){
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 1080px){
    grid-template-columns: 1fr 1fr 1fr;
  }
}

a {
  color: black;
}
